<!DOCTYPE html>
<html lang="${ language }" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>${ title }</title>
    <script src="https://hypothes.is/embed.js" async></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU=" crossorigin="anonymous" />
    <style>
        ${ style.css() }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css"
    integrity="sha384-D+9gmBxUQogRLqvARvNLmA9hS2x//eK1FhVb9PiU86gmcrBrJAQT8okdJ4LMp2uv" crossorigin="anonymous" />
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js"
    integrity="sha384-483A6DwYfKeDa0Q52fJmxFXkcPCFfnXMoXblOkJ4JcA8zATN6Tm78UNL72AKk+0O"
    crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/contrib/auto-render.min.js"
    integrity="sha384-yACMu8JWxKzSp/C1YV86pzGiQ/l1YUfE8oPuahJQxzehAjEt2GiQuy/BIvl9KyeF"
    crossorigin="anonymous"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            renderMathInElement(document.body, {
                delimiters: [
                { left: "$$$$", right: "$$$$", display: true },
                { left: "$$", right: "$$", display: false }
                ]
            });
        });
    </script>
</head>

<body>
    <header>
        <div class="container">
            <div class="header--title">${ title }</div>
            <div class="header--authors">
                ${ for(authors)}
                <span class="header--author">
                    ${ if(it.orcid) }
                    <a href="https://orcid.org/${ it.orcid }" target="_blank">
                        ${ it.givennames } ${ it.familyname }
                    </a>
                    ${ else }
                    ${ it.givennames } ${ it.familyname }
                    ${ endif }
                    ${ for(it.affilcode) }
                        <sup class="affilcode">${ it.affilcode }</sup>
                    ${ endfor }
                </span>
                ${ endfor }
            </div>
        </div>
    </header>
    
    <main class="container">
        <section class="abstract">
            <b>Abstract:</b> ${ description }<br />
            <div class="artifacts">
                <a href="draft.pdf" title="Draft PDF" target="_blank">draft</a>
                <a href="preprint.pdf" title="Preprint PDF" target="_blank">preprint</a>
            </div>
        </section>
        
        <article>
            ${ body }
        </article>
    </main>

    <footer>
        <div class="container">
            <h2>Affiliations</h2> 
            ${ institutions:_list_institutions()[; ] }
            <br />
            ${ metadata.equalcontributions:_list_institutions()[; ] }
        </div>
    </footer>
    
</body>
</html>