<!DOCTYPE html>
<html lang="${ language }" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>${ title }</title>
    <script src="https://hypothes.is/embed.js" async></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU=" crossorigin="anonymous" />
        <style>
            body {
                max-width: 800px;
                padding: 1em;
                margin: 0em auto;
            }
        </style>
</head>

<body>
    <header>
        <section class="container">
            <h1>${ title }</h1>
            <section class="authors">
                ${ for(authors)}
                <div class="author">
                    <div class="name">${ it.givennames } ${ it.familyname }</div>
                    <!-- <div class="affiliation">$authors.affiliation$</div> -->
                    <div class="orcid">${ it.orcid }</div>
                </div>
                ${ endfor }
            </section>
            <summary>
                ${ description }
            </summary>
        </section>
    </header>

    <nav class="artifacts">
        <a href="$notes$" title="Github repo" target="_blank"><img
                src="https://img.shields.io/badge/write-github-blue.svg" /></a>
        <a href="$filename$.pdf" title="Github repo" target="_blank"><img
                src="https://img.shields.io/badge/read-pdf-green.svg" /></a>
        <a href="$filename$.docx" title="Github repo" target="_blank"><img
                src="https://img.shields.io/badge/read-docx-yellow.svg" /></a>
    </nav>

    <article class="container">
        ${ body }
    </article>

</body>
<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>

</html>