@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Fira+Sans+Condensed:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Fira+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
:root {
    --citation: #1976D2;
    --structure: #00897B;
    --light: #9E9E9E;
    --pale: #e0e0e0;
    --nav: #fdfdfd;

    --width: 820px;
    --inner-space: 1.2em;
}

body {
    font-family: "Fira Sans", sans-serif;
    margin: 0 0;
    padding: 0 0;
}

article > p {
    line-height: 135%;
}
article > h1 {
    padding-top: 3em;
}
a {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid var(--structure);
}
a:hover {
    font-weight: 600;
}
.citation {
    color: var(--citation);
}
.container {
    margin: 0em auto;
    max-width: var(--width);
    padding: var(--inner-space);
}
header > .container {
    max-width: 100vw;
}
code, pre {
    font-family: "Fira Mono", monospace;
}
pre {
    white-space: pre-wrap;
}
h1, h2, h3 {
    color: var(--structure);
    font-family: "Fira Sans Condensed", sans-serif;
}
header {
    font-family: "Fira Sans Condensed", sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: var(--nav);
    border: 1px solid var(--pale);
    z-index: 5;
    color: black;
}
.header--title {
    font-weight: 400;
    text-transform: uppercase;
}
.header--authors > span {
    color: var(--light);
    font-weight: 400;
}
main {
    padding-top: 8em !important;
    padding-bottom: 8em !important;
}
footer {
    background-color: var(--pale);
    font-weight: 300;
}
.abstract {
    color: var(--light);
    margin-bottom: 5em;
}
figure {
    max-width: 100%;
    border: 1px solid var(--pale);
    border-radius: 2px;
    margin: 1em 0.5em;
}
figure > img {
    max-width: 100%;
    display: block;
    margin: 0em auto;
}
figure > figcaption {
    padding: var(--inner-space);
}
table {
    width: 100%;
    min-width: 100%;
    border-collapse: collapse;
}
table > caption {
    padding: var(--inner-space);
}
figcaption, caption {
    color: var(--light);
    font-weight: 300;
}
thead {
    color: var(--structure);
}
td, th {
    padding: 3px;
}
tr > th {
    text-align: center !important;
}
tr {
    border-top: 1px solid var(--light);
    border-bottom: 1px solid var(--light);
}
tbody > tr:nth-child(even) {background: var(--pale)};
tbody {
    border-bottom: 1px solid var(--structure);
}
#refs {
    font-size: 90%;
    column-count: 2;
}
#refs > .csl-entry {
    padding-bottom: 0.2em;
    padding-top: 0.2em;
}
.hanging-indent > .csl-entry {
    padding-left: 15px ;
    text-indent: -15px ;
}