@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;1,400;1,500&display=swap');

:root {
    --citation: #1976D2;
    --structure: hsl(210, 61%, 43%);
    
    --light: #474747;
    --pale: #a5a5a5;
    --grey: #e0e0e0;
    --nav: #fdfdfd;

    --width: 820px;
    --inner-space: 1.2em;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0 0;
    padding: 0 0;
}

article > p {
    line-height: 135%;
}
article > h1 {
    padding-top: 3em;
}
a {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid var(--structure);
}
a:hover {
    font-weight: 500;
}
.citation {
    color: var(--citation);
}
.container {
    margin: 0em auto;
    max-width: var(--width);
    padding: var(--inner-space);
}
header > .container {
    margin-top: 4em;
}
code, pre {
    font-family: "Roboto Mono", monospace;
}
pre {
    white-space: pre-wrap;
}
h1, h2, h3 {
    color: var(--structure);
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
}
header {
    font-family: "Roboto Condensed", sans-serif;
    z-index: 5;
    color: black;
    margin-top: 4rem;
}
.header--title {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.header--authors > span {
    color: var(--light);
    font-weight: 400;
}
main {
    padding-top: 8em !important;
    padding-bottom: 8em !important;
}
footer {
    background-color: var(--grey);
    font-weight: 300;
}
.abstract {
    color: var(--light);
    margin-bottom: 5em;
}
figure {
    max-width: 100%;
    border: 1px solid var(--pale);
    border-radius: 2px;
    margin: 1em 0.5em;
}
figure > img {
    max-width: 100%;
    display: block;
    margin: 0em auto;
}
figure > figcaption {
    padding: var(--inner-space);
}
table {
    width: 100%;
    min-width: 100%;
    border-collapse: collapse;
}
table > caption {
    padding: var(--inner-space);
}
figcaption, caption {
    color: var(--light);
    font-weight: 300;
}
thead {
    color: var(--structure);
}
td, th {
    padding: 3px;
}
tr {
    border-top: 1px solid var(--structure);
    border-bottom: 1px solid var(--structure);
}
tbody > tr:nth-child(even) {background: var(--grey)};
tbody {
    border-bottom: 1px solid var(--structure);
}
#refs {
    font-size: 90%;
    column-count: 2;
}
#refs > .csl-entry {
    padding-bottom: 0.2em;
    padding-top: 0.2em;
}
.hanging-indent > .csl-entry {
    padding-left: 15px ;
    text-indent: -15px ;
}