dist: xenial
language: python
python:
  - "3.6"
sudo: false
git:
  quiet: true

before_install:
  - git clone https://github.com/PoisotLab/barlock.git
  - chmod u+x barlock/bootstrap.sh

install:
  - ./barlock/bootstrap.sh

script:
  - python barlock/build.py

before_deploy:
   - yes | rm -r barlock/

deploy:
  provider: pages
  skip_cleanup: true
  keep_history: true
  github_token: $GITHUB_TOKEN
  on:
     all_branches: true
